.ponit{
    font-family: cursive;


}
body{
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-tap-highlight-color:transparent;
    transition:5s;

}

.img{
    border-radius:10%;
}
.name{
    color:white;
}

p{
    color:white;
}
.c-img{
    animation-duration:3s;
    animation-name:animation;
    animation-duration:15s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation: rotate 3s linear infinite; 

}
@keyframes animation{
    0% {transform:rotate(0deg);}
    100%{transform:rotate(180deg);}
}

.names-container{
    box-shadow:2px 5px white;
    border-radius:8%;


}

.img1{
    width:200px;
    height:200px;
    border-radius:5%;
}
.img1:hover{
    transform:scale(1.3);
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

p{
    text-align:center;
    color:white;
}